<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {% include head.html %}
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap-additional.css" rel="stylesheet">
   <!-- <link type="text/stylesheet" href="{{site.baseurl}}/css/"/> -->

    {% include header.html %}

    {% include corousel.html%}

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    {% include footer.html %}


</body>
</html>



