<!DOCTYPE html>
<html>
<head>
</head>
<body>
 {% include head.html %}
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/bootstrap-additional.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
  {% include header.html %}

<div class="image-container">
  <img src="{{site.baseurl}}/img/slide3.jpg"/>
</div>

<div id="pagewrap">   
  <div id="content-left">
   <img class="circle-image">
    <h4>Mcdonalds Cabanatuan</h4>
       <p>Lorem ipsum dolor sit amet, eu vide maiorum luptatum his, usu saperet molestiae an, tantas appellantur nam id. Lobortis convenire in vim. His minimum facilisis eloquentiam no, at dicam laboramus vis, vel homero adipiscing no. In vel agam petentium, pri sanctus impedit qualisque et, ad eos omnis inani volumus.</p>
  </div>
  
  <div id="content-middle">
   <img class="circle-image">
    <h4>H.C.P.S.M.S.H.S</h4>
       <p>ALorem ipsum dolor sit amet, eu vide maiorum luptatum his, usu saperet molestiae an, tantas appellantur nam id. Lobortis convenire in vim. His minimum facilisis eloquentiam no, at dicam laboramus vis, vel homero adipiscing no. In vel agam petentium, pri sanctus impedit qualisque et, ad eos omnis inani volumus.</p>
  </div>

  <div id="content-right">
   <img class="circle-image">
    <h4>WhereIsMyMemory</h4>
        <p>Lorem ipsum dolor sit amet, eu vide maiorum luptatum his, usu saperet molestiae an, tantas appellantur nam id. Lobortis convenire in vim. His minimum facilisis eloquentiam no, at dicam laboramus vis, vel homero adipiscing no. In vel agam petentium, pri sanctus impedit qualisque et, ad eos omnis inani volumus.</p>
  </div>
</div>   

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>

